ICMP-file = matchany : integer_greater : _file-size : answer=2500
_ip-source = matchany : string_equal : _ip-source1 : result._ip-source2
_ip-des = matchany : string_equal : _ip-des1 : result._ip-des2
_Packet = matchany : string_equal : _Packet1 : result._Packet2
_Check = matchany : string_equal : _Check1 : result._Check2
_Sequence = matchany : string_equal : _Sequence1 : result._Sequence2
_Identifier = matchany : string_equal : _Identifier1 : result._Identifier2
Answer = boolean : (_Port and _Type and _Code and _Identifier and _Sequence and _Check and _ip-source and _ip-des and _Packet)
